@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Anton);
body{
	margin: 0;
	font-family: 'Open Sans';
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	width: 100%;
}

.master{
	max-width: 1150px;
}

.subscribe-wrapper{
	background-color:rgba(0, 0, 0, 0.7);
}

.sub{
	background-color: transparent;
	border: 0;
	color: #fff;
	padding: 24px 0;
	text-indent: 10px;
}

.sub-btn{
	background-color: #cc1c21;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	border: 0;
	border-radius: 0;
	padding: 15px 40px;
}

.sub-btn:hover{
	background-color: #ad171b;
	color: #fff;
}

.form-control:focus {
	box-shadow: none;
}

.navbar-default {
	background-color: #232323;
	border-color: #232323;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: 0 transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #777777;
	font-size: 13px;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #cc1c21;
	color: #fff;
}

.search-bar{
	background-color: #1a1a1a;
	padding: 0 10px;
}

.search-bar i{
	color: #454545;
	padding-right: 5px;

}

.search-ctrl{
	background-color: transparent;
	line-height: 48px;
	color: #fff;
	border: none;
	outline: none;
	font-size: 13px;
}

/************ parallex start ************/

.p50 {
	padding-top: 0;
	padding-bottom: 0;
}
.dem1 {
	/*min-height: 400px;*/
	background-size: cover;
	box-sizing: border-box;
	padding: 0 0 0 0;
	}.bg1 {
		background: url(../images/strip.jpg);
		padding: 20px 0;
		}.bg2 {
			background: url(http://madisonmemorial.org/wp-content/uploads/2013/09/mountain-river-autumn-nature.jpg);
			}.bg3 {
				background: url(../images/bg1.jpg);
				}.bg4 {
					/*background: url(http://imgscenter.com/images/2014/09/13/6-autumn-nature-sandbox-images_2053316.jpg);*/
					background-color: #2e3131;
					}.bg5 {
					background: url(../images/casual-films-shoot.jpg);
					background-size: cover;
					}.bg6 {
					background: url(../images/map.jpg);
					background-size: cover;
					}
					.box {
						width: 90%;
						margin: 0 auto;
						background: #efefef;
						padding: 100px;
						box-sizing: border-box;
						border: 1px solid #ddd;
						box-shadow: 0 0 1px #777;
						margin-bottom: 15px;
						}.b2 {
							background: #dedede;
							}.dl {
								margin-top: 200px;
								padding: 100px;
							}
							.fork-mmk {
								position: fixed;
								top: 0px;
								right: 0px;
								z-index: 99999;
							}

							/************ parallex end ************/

.director-wrapper{
	background-color: rgba(24, 24, 24, 0.6);
	margin: 40px 0 0 0;
}

.director{
	padding: 40px 0;
}

.director h3{
	color: #fff;
	font-weight: 300;
}

.director p{
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	line-height: 2;
	padding-bottom: 20px;
}

.deflt-btn{
	background-color: #cc1c21;
	padding: 10px 20px;
	color: #fff;
	font-weight: 300;
	font-size: 13px;
}

.deflt-btn:hover{
	background-color: #ac1317;
	text-decoration: none;
	color: #fff;
}

.short-films{
	background-color: #cc1c21;
	margin-top: 40px;
}

.short-films h2{
	font-family: 'Anton';
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 10px 0;
}

.shortfilms-wrapper{
	background-color: rgba(0, 9, 8, 0.8);
	padding-bottom: 40px;
}

.shortfilms{
	margin: 40px 0;
	position: relative;
}

.no-padding{
	padding-left: 0;
	padding-right: 0;
}

.overlay{
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	padding: 10px;
}

.shortfilms:hover .overlay{
	display: block;
}

.overlay h3{
	font-weight: 600;
	font-size: 30px;
	margin: 0;
}

.like-cmnt{
	margin: 100px 0;
}

.like-cmnt span{
	font-size: 14px;
}

.like-cmnt span a{
	padding: 0 5px;
	color: #333;
}

.like-cmnt i:hover{
	color: #cc1c21;
}

.post-by span{
	font-size: 12px;
	font-style: italic;
}

.events-heading{
	background-color: #f16531;
	margin-top: 0;
}

.events-heading h2{
	font-family: 'Anton';
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 10px 0;
}

.events-wrapper{
	padding: 60px 0;
}

.events h2{
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	padding: 5px 0 10px 0;
	margin: 0;
}

.events p{
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.8;
	padding-bottom: 20px;
}

.orng-btn{
	background-color: #f16531;
	padding: 6px 20px;
	color: #fff;
	font-weight: 300;
	font-size: 13px;
}

.orng-btn:hover{
	background-color: #c64d21;
	text-decoration: none;
	color: #fff;
}

.fm-heading{
	background-color: #00b0ae;
	margin-top: 0;
}

.fm-heading h2{
	font-family: 'Anton';
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 10px 0;
}

.fm{
	background-color: rgba(0, 0, 0, 0.7);
	padding: 40px 40px 60px 40px;
	margin: 40px 0;
}

.fm p{
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	line-height: 2;
}

.map-heading{
	background-color: #333;
	margin-top: 0;
}

.map-heading h2{
	font-family: 'Anton';
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 10px 0;
}

.h1-txt{
	font-size: 60px;
	font-weight: 300;
	color: #fff;
	padding: 20px 0;
}

.input-ctrl{
	background-color: transparent;
	width: 100%;
	padding: 40px 5px;
	color: #fff;
	font-size: 16px;
	border-top: 0 solid ;
	border-bottom: 2px solid #939393;
	border-left: 0 ;
	border-right: 0 ;
	outline: none;
	margin-bottom: 6px;
}

.input-ctrl:focus{
	border-color: #fff;
}

::-webkit-input-placeholder {
   color: #fff;
   text-transform: uppercase;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
   text-transform: uppercase;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
   text-transform: uppercase;  
}

:-ms-input-placeholder {  
   color: #fff;
   text-transform: uppercase;  
}

.area-ctrl{
	background-color: transparent;
	width: 100%;
	padding: 40px 5px;
	color: #fff;
	font-size: 16px;
	border-top: 0 ;
	border-bottom: 2px solid #939393;
	border-left: 0 ;
	border-right: 0 ;
	outline: none;
}

.area-ctrl:focus{
	border-color: #fff;
}

.spacing{
	min-height: 100px;
}

.map-btn{
	background-color: transparent;
	border: 2px solid #cc1c21;
	border-radius: 50%;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	padding: 49px 40px; 
}

.map-btn:hover{
	background-color: #cc1c21;
	color: #fff;
	text-decoration: none;
}

.footer-strip{
	background: url(../images/footer-strip.png);
	width: 100%;
	height: 15px;
	margin-top: 80px;
}

.footer-wrapper{
	background-color: #1f1f1f;
	padding: 50px 0;
}

.footer ul{
	padding: 0;
	margin: 0;
}

.footer ul li{
	list-style-type: none;
	padding: 5px 0;
}

.footer ul li i{
	color: #969696;
	font-size: 13px;
}

.footer ul li a{
	font-size: 13px;
	color: #969696;
	padding-left: 10px;
}

.social ul li a i{
	font-size: 24px;
}

.copyright{
	font-size: 13px;
	color: #464545;
}



@media (max-width: 980px){

.overlay h3{
	font-weight: 600;
	font-size: 18px;
	margin: 0;
}

.like-cmnt{
	margin: 40px 0;
}

}







@media (max-width: 768px){

.overlay h3{
	font-weight: 600;
	font-size: 18px;
	margin: 0;
}

.like-cmnt{
	margin: 70px 0;
}

.like-cmnt span{
	font-size: 14px;
}

.like-cmnt span a{
	padding: 0 5px;
	color: #333;
}

.post-by span{
	font-size: 12px;
	font-style: italic;
}

.no-padding{
	padding-left: 0;
	padding-right: 0;
}

}


@media (max-width: 480px){

.overlay{
	visibility: hidden;
}

}


